
body{
	overflow: hidden;
	background-color: black;
	color:#848484;
	font-family: helvetica;
}
.container{
	display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-top: 0px;
}

.board{
	border: solid 1px white;
	height: 500px;
	width: 500px;	
	background-color: grey;
}
.title{
	position: absolute;
	top:0px;
	color:white;
	font-size: 50px;
	font-weight: bold;
}
.instructions{
	margin-right: 4%;
	width: 333px;
}
.story{
	width: 275px;
	margin-left: 4%;
}

.tr{

}
.td{
	height: 49px;
	width: 50px;
	background-color: black;
}

.active{
	background-color: #6d0101!important; 
}
.buttonContainer{
	position: absolute;
	top:88%;
	display: flex;
	justify-content: space-between;
}
.button{
	position: relative;
    color: white;
    font-size: 39px;
    left: 5%;
    text-align: center;
    height: 50px;
    width: 142px;
    background-color: #6d0101;
    top: 20%;
    border: solid 1px;
    margin-right: 5px;
}